.metadata/.lock
.metadata/.log
.metadata/version.ini
.metadata/.mylyn/repositories.xml.zip
.metadata/.plugins/org.eclipse.cdt.core/.log
.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp
.metadata/.plugins/org.eclipse.core.resources/.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/SendPotato/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/SendPotato/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/SendPotato/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/SendPotato/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.debug.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/1171031133.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/1177650209.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/1667331098.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/2077391869.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/219876960.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/2564054119.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/2810337415.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/2891339694.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/3120979452.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/3659839979.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/959766745.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/982313011.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/savedIndexNames.txt
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/dom5.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/jquery-doc-2.0.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/rest.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js
.metadata/.plugins/org.tizen.web.project/JSlibraries/SendPotato/feature.js
.metadata/.plugins/org.tizen.web.project/JSLibs/wearable-2.3.1/html5.js
.metadata/.plugins/org.tizen.web.project/JSLibs/wearable-2.3.1/tizen.js
.metadata/.plugins/org.tizen.web.project/JSLibs/wearable-2.3.1/w3c.js
