<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/SendPotato" version="1.0.0" viewmodes="maximized">
    <access origin="*" subdomains="true"></access>
    <tizen:allow-navigation>www.parse.com</tizen:allow-navigation>
    <tizen:application id="ItkhHYp0hM.SendPotato" package="ItkhHYp0hM" required_version="2.3"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>SendPotato</name>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/location"/>
    <tizen:privilege name="http://tizen.org/privilege/location.enable" />
    <tizen:privilege name="http://tizen.org/privilege/location.gps"/>
    <tizen:privilege name="http://tizen.org/privilege/location.gps.advanced"/>
    <tizen:privilege name="http://tizen.org/privilege/location.wps"/>
    <feature name="http://tizen.org/feature/location.wps"/>
    <feature name="http://tizen.org/feature/location.gps"/>
    <feature name="http://tizen.org/feature/location.gps.advanced"/>
    <feature name="http://tizen.org/privilege/location"/>
	<feature name="http://tizen.org/feature/location.gps"/>
    <tizen:profile name="wearable"/>
</widget>
